@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Judson:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.date-cards{
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  width: 100%;
  justify-content: space-between;
}

.btn {
  color: "#FFE8E2";
  text-decoration: none;
  border-radius: 20%;
}
.link {
  text-decoration: none;
  color: rgb(206, 135, 203);
  font-weight: 600;
  
}