@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Judson:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.landing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: radial-gradient(circle, #f5886b, #fd988a, #ffa9a6, #ffbbc0, #ffced6, #f2cada, #e3c7db, #d4c4d9, #aaadc9, #7999b3, #4a8594, #286f6c);
  height: 100vh;
  width: 100vw;
}

img {
  height: 400px;
  width: 700px;
  object-fit: cover;
}

.landing-container .signUpBtn {
  background-color: #286F6C;
  height: 35px;
  width: 100px;
  margin: 10px;
  border:none;
  border-radius: 15px;
}

.landing-container .loginBtn {
  background-color: #F5886B;
  height: 35px;
  width: 100px;
  margin: 10px;
  border:none;
  border-radius: 15px;
}

.landing-container .signUpBtn a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #F9FBE7;
}

.landing-container .loginBtn a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #FFF4F3;
}