.login-form-container {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 50px;
}

.login-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-container input{
  border-radius: 10px;
  border: none;
  height: 40px;
  width: 250px;
  padding: 10px;
}

.login-form-container input:focus {
  outline: none;
}

.login-form-container label {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.login-btn{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.login-button{
  background-color: #F5886B;
  height: 30px;
  width: 100px;
  margin: 10px;
  border: none;
  font-size: 15px;
  border-radius: 15px;
  color: #FFE8E2;
}

.cancel-button{
  background-color: #FFE8E2;
  height: 30px;
  width: 100px;
  margin: 10px;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  color: #F5886B;
}
