.pm-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: linear-gradient(to top, #5d5985, #826892, #a4799c, #c38da5, #dea2ae, #e6aab2, #eeb3b7, #f6bbbc, #f0b6bc, #eab1bd, #e3adbd, #dba9bd);;
}