@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Judson:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.signup-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right bottom, #759680, #89a48d, #9db29b, #b0c0aa, #c3ceba, #c6d0bd, #c9d3c1, #ccd5c4, #c0ccbb, #b4c2b3, #a9b9ab, #9db0a3);
  height: 100vh;
  width: 100vw;
}

.signup-container h1 {
  font-family:'Judson', serif;
  font-weight: 900;
  font-style: italic;
  font-size: 60px;
  margin-bottom: 0px;
  color: #06330E;
}

.signup-container span {
  color:  #D8A5B2;
  text-shadow: 0 0 3px #FFE8E2;
}


